---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <h1
    class='mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white sm:leading-tight md:leading-tight'
  >
    Astro Fast Start
  </h1>

  <hr />
  <div class='flex flex-col gap-6 w-full py-8 text-center'>
    <div>
      {
        Astro.locals.user ? (
          <h1>Hello, {Astro.locals.user.username}</h1>
        ) : (
          <>
            <a
              href='/login'
              class='px-5 py-2.5 relative rounded group overflow-hidden font-medium bg-purple-50 text-purple-600 inline-block w-full '>
              <span class='absolute top-0 left-0 flex w-full h-0 mb-0 transition-all duration-200 ease-out transform translate-y-0 bg-[#3C1D8C] group-hover:h-full opacity-90' />
              <span class='relative group-hover:text-white'>
                Go to login page
              </span>
            </a>
          </>
        )
      }
    </div>

    <div>
      {
        !Astro.locals.user && (
          <a
            href='/register'
            class='px-5 py-2.5 relative rounded group overflow-hidden font-medium bg-purple-50 text-purple-600 inline-block w-full'>
            <span class='absolute top-0 left-0 flex w-full h-0 mb-0 transition-all duration-200 ease-out transform translate-y-0 bg-[#3C1D8C] group-hover:h-full opacity-90' />
            <span class='relative group-hover:text-white'>
              Go to register page
            </span>
          </a>
        )
      }
    </div>

    <div>
      <form method='post' action='/api/logout'>
        <button
          class='px-5 py-2.5 relative rounded group overflow-hidden font-medium bg-purple-50 text-purple-600 inline-block w-full'
        >
          <span
            class='absolute top-0 left-0 flex w-full h-0 mb-0 transition-all duration-200 ease-out transform translate-y-0 bg-[#3C1D8C] group-hover:h-full opacity-90'
          ></span>
          <span class='relative group-hover:text-white'> Sign Out </span>
        </button>
      </form>
    </div>
  </div>
</Layout>
